---
import StarDecoration from '../common/StarDecoration.astro';
import TukiIcon from '../common/TukiIcon.astro';
import { MARQUEE_ITEMS } from '../../lib/constants';
---

<div class="tuki-marquee-ref overflow-hidden py-3">
	<div class="tuki-ticker-track">
		{
			[...MARQUEE_ITEMS, ...MARQUEE_ITEMS].map((item) => (
				<span class="tuki-ticker-item">
					<TukiIcon src={item.icon} alt={item.iconAlt} size="xs" decorative />
					{item.label}
					<StarDecoration size={12} class="text-white/90" />
				</span>
			))
		}
	</div>
</div>
