---
import StarDecoration from '../common/StarDecoration.astro';

const items = [
	'Praias paradisíacas',
	'Resorts all-inclusive',
	'Atendimento humano',
	'Pagamento seguro',
	'Curadoria Tuki',
];
---

<div class="tuki-marquee-ref overflow-hidden py-3">
	<div class="tuki-ticker-track">
		{
			[...items, ...items].map((item) => (
				<span class="tuki-ticker-item">
					{item}
					<StarDecoration size={12} class="text-white/90" />
				</span>
			))
		}
	</div>
</div>
