---
import TukiIcon from '../common/TukiIcon.astro';
import { MARQUEE_ICONS } from '../../lib/icons';

const icons = [...MARQUEE_ICONS, ...MARQUEE_ICONS];
---

<div class="tuki-marquee relative">
	<div class="tuki-marquee-ref">
		<div class="tuki-marquee-track-wrap overflow-hidden">
			<div class="tuki-ticker-track" aria-hidden="true">
				{
					icons.map((icon) => (
						<span class="tuki-ticker-item">
							<TukiIcon src={icon.src} alt={icon.alt} size="md" class="tuki-marquee-icon" decorative />
						</span>
					))
				}
			</div>
		</div>
	</div>
</div>
